# Dependencies
node_modules

# Lock files
package-lock.json

# Yarn
yarn.lock

# Tanstack Start
.tanstack

# Cache
.cache

# Miscellaneous
.DS_Store

# Environment variables
.env.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Bun
bun.lock

# Fumadocs
.source