@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
	--color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --ease-anticipate: cubic-bezier(0.32, 0.72, 0, 1);
}

:root {
  --background: oklch(97.5% 0.00528 106deg);
	--foreground: oklch(26.3% 0.0127 101deg);
  --primary: oklch(26.3% 0.0127 101deg);
  --primary-foreground: oklch(97.5% 0.00396 106deg);
  --selection: oklch(88.1% 0.00677 107deg);
  --selection-foreground: oklch(26.3% 0.0127 101deg);
  --muted: oklch(95.8% 0.00542 95.1deg);
  --muted-foreground: oklch(26.3% 0.0127 100deg / 60%);
}

.dark {
  --background: oklch(18.1% 0.0155 102deg);
	--foreground: oklch(94.4% 0.00108 17.2deg);
  --primary: oklch(94.4% 0.00108 17.2deg);
  --primary-foreground: oklch(18.2% 0.0139 94deg);
  --selection: oklch(32% 0.0121 100deg);
  --selection-foreground: oklch(94.4% 0.00108 17.2deg);
  --muted: oklch(21.3% 0.0135 94deg);
  --muted-foreground: oklch(94.4% 0.00112 17.5deg / 60%);
}

@layer base {
  * {
    @apply selection:bg-selection selection:text-selection-foreground;
  }
}
